<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  {$head}

  <body>
    <div class="page">
      <div class="content">
        {$titulo}
        <center>
          
          <h2>Página não encontrada</h2>
          
        </center>
      </div> 
    </div>
    {$rodape} 

  </body>
</html>
